pipeline/dbexcercise.json
{
	"name": "dbexcercise",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "Execution_Time",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select * from dbo.dept where deptno=101",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "deptno",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "deptno",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dname",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "dname",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Execution_Time",
									"type": "String"
								},
								"sink": {
									"name": "Execution_Time",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "dept"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dbdatacopydest",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy data1').output.rowsread,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "zipcopy",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}